{% extends "basic.html" %}
{% block content %}
    <h1 style="margin-top:100px; margin-left: 300px;">Каталог заявок</h1>
        <p class="h4" style="margin-left: 200px;">Количество заявок"Принятых в работу" : {{counter}}</p>
        <ul>
            {% for item in orders %}
                    <b class="h5" style="margin-left: 300px;">Категория:</b> {{item.category}}<br>
                    <b class="h5" style="margin-left: 300px;">Заявка:</b> {{ item.name }}
                    <p ><b class="h5" style="margin-left: 200px;">Дата добавления:</b> {{ item.date }}</p>
                    <b style="margin-left: 280px;">Статус заявки: {{item.status_verbose}}</b>
                    <p><img style="height: 100px; margin-left: 330px; width: 100px" class="figure-img" src="media/{{ item.photo_file }}"></p>
            {% endfor %}
        </ul>

{% endblock %}